
body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: ;
	background-image:url(bg.jpg);
}
a:link,a:visited {
	text-decoration: none;
	color:black;
}
a:hover {
	text-decoration:underline;
}
img{
	border: 0px;
}
table {
	border:0px;
	border-collapse:collapse;
	margin-bottom:10px;
	margin-top:10px;
}
th,td {
	border:1px solid #B9B9B9;
	text-align:center;
}
th {
	background-color:#EBEBEB;
	background-position: center;
}
td a{
	display:block;
}

.bg {
	background-color: #F7F7F7;
	width: 960px;
	border: 0px none #D6D6D6;
	padding:20px;
}

.footer {
	color: #FFFFFF;
}
.box,.home_left,.home_right,.home_top {
	overflow: hidden;
	background-color:#FFFFFF;
	border: 1px solid #C1C1C1;
}
.faq{
	margin-top:20px;
	margin-bottom:20px;
	width:920px;
	line-height: 25px;
}
.faq_title{
	background-color:#DBDAFC;
	font-size: 24px;
}

.faq_content {
	text-align:left;
	line-height:30px;
}
.faq_content_Q {
	background-image:url(../images/a_menu_bg.gif);
	background-position: center;
}
